L’objectif de ce TP est d’étudier les notes de DS, TP et EXAMEN de 10 étudiants du département informatique concernant la matière "Programmation et Analyse avec Python". Les notes sont stockées dans un fichier Excel, nommé "notes.xlsx", dont la première colonne représente le CIN d’un étudiant, la deuxième représente la note de DS, la troisième représente la note de TP, et la dernière représente la note d'examen. Le nom d’étudiant associé à chaque CIN est stocké dans le fichier CSV "noms.csv". Tous les valeurs sont séparées des points virgules ";"

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### I-###
**1.** Importer le jeu de données "notes.xlsx" dans un dataframe, nommé $df\_notes$. Afficher ensuite les cinq premières lignes de $df\_notes$.

**2.** Afficher le maximum des notes d'examen, réinitialiser l'index de $df\_notes$, et afficher les numéros de CIN des étudiants ayant le note maximum d'examen sous forme d'un dataFrame, nommé $df\_max$

**3.** Ajouter 5 points à chaque étudiant qui a une note inférieure à 10 en DS. Afficher $df\_notes$

**4.** Ajouter une colonne nommée "MOYENNE" qui contient la moyenne de chaque étudiant dans la matière "Programmation et Analyse avec Python". Le calcul de la moyenne se fait selon les coefficients suivants:<br><ul><li>Coefficient EXAMEN= 0.5</li>
<li>Coefficient TP= 0.2</li>
<li>Coefficient DS= 0.3</li></ul>

**5.** Calculer et afficher la moyenne générale de toute la classe dans la matière "Programmation et Analyse avec Python"

**6.** Supprimer de $df\_notes$ les étudiants n'ayant pas la moyenne dans la matière "Programmation et Analyse avec Python". Afficher $df\_notes$

### II-###
**1.** Importer le jeu de données "noms.csv" dans un dataframe, nommé $df\_noms$, puis afficher ses 8 premières lignes

**2.** Trier les lignes de $df\_noms$ selon l'ordre alphabétique croissant de la colonne "NOM". Afficher $df\_noms$

**3.** Ajouter une colonne NOM à la deuxième position de $df\_notes$. Cette colonne correspond au noms des étudiants associés à chaque CIN à partir de $df\_noms$. Afficher $df\_notes$

**4.** Découper la colonne MOYENNE de $df\_notes$ en 3 valeurs : T.Bien (MOYENNE>16), Bien(14<MOYENNE<=16), et Passable (MOYENNE<14). Puis, changer le nom de la colonne MOYENNE par MENTION. Afficher $df\_notes$

**5.** Déterminer l’histogramme de la répartition des mentions de $df\_notes$. Cet histogramme comporte 3 bins chacun de largeur=0.5 (rwidth = 0.5), de couleur rouge (color = 'red') et de contour blue (edgecolor = 'blue')

**6.**
Déterminer, à partir de  $df\_notes$, le diagramme en secteur correspondant à l’attribut MENTION